
@{
    ViewBag.Title = "CreateBid";
}

<h2>Добавить студента</h2>
<form method="post" action="">
    <table class="table-bordered">
        <tr><td><p>Имя студента</p></td><td><input type="text" name="FirstName" /> </td></tr>
        <tr><td><p>Фамилия студента </p></td><td><input type="text" name="LastName" /> </td></tr>
        <tr><td><p>Введите факультет</p></td><td><input type="text" name="Faculty" /> </td></tr>
        <tr><td><p>Введите группу</p></td><td><input type="text" name="Group" /> </td></tr>
        <tr><td><p>Введите оценку по предемету Теплофизика</p></td><td><input type="text" name="Value_ThermalPhysics" /> </td></tr>
        <tr><td><p>Введите оценку по предемету Механика жидкости и  газов </p></td><td><input type="text" name="Value_Fluid" /> </td></tr>
        <tr><td><p>Введите оценку по предемету Лопаточные машины </p></td><td><input type="text" name="Value_Turbine" /> </td></tr>
        <tr><td><p>Введите оценку по предемету Криогенная техника </p></td><td><input type="text" name="Value_Cryogenic" /> </td></tr>

    </table>

    <h3></h3>
    <p><a><input type="submit" value="Отправить" /></a></p>
</form>

