


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting, спасибо, что зашли
        <p> 
            @Html.ActionLink("Введите имя", "InputData")
        </p>
    </div>
</body>
</html>
